In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
def import_data(csv_name):
    csv_pd = pd.read_csv(csv_name)
    csv_pd.Timestamp = pd.to_datetime(csv_pd.Timestamp)
    csv_pd['Year'] = csv_pd.Timestamp.dt.year
    csv_pd['Month'] = csv_pd.Timestamp.dt.month
    csv_pd['Day'] = csv_pd.Timestamp.dt.day
    csv_pd['Hour'] = csv_pd.Timestamp.dt.hour
    csv_pd['Minute'] = csv_pd.Timestamp.dt.minute
    csv_pd['Second'] = csv_pd.Timestamp.dt.second
    return csv_pd
residential_demand = import_data('residential_demand.csv')
turbine_telemetry = import_data('turbine_telemetry.csv')

In [5]:
turbine_telemetry

,Timestamp,Power_kw,Setpoint_kw,Wind_ms,Year,Month,Day,Hour,Minute,Second
0,2015-05-28 00:00:23,80.0,900.0,4.9,2015,5,28,0,0,23
1,2015-05-28 00:01:23,78.0,900.0,5.4,2015,5,28,0,1,23
2,2015-05-28 00:02:23,52.0,900.0,4.9,2015,5,28,0,2,23
3,2015-05-28 00:03:23,57.0,900.0,4.6,2015,5,28,0,3,23
4,2015-05-28 00:04:23,54.0,900.0,4.6,2015,5,28,0,4,23
...,...,...,...,...,...,...,...,...,...,...
1069631,2018-01-11 06:10:32,99.0,900.0,5.9,2018,1,11,6,10,32
1069632,2018-01-11 06:11:32,105.0,900.0,5.7,2018,1,11,6,11,32
1069633,2018-01-11 06:12:32,93.0,900.0,5.8,2018,1,11,6,12,32
1069634,2018-01-11 06:13:32,97.0,900.0,5.5,2018,1,11,6,13,32
1069635,2018-01-11 06:14:32,92.0,900.0,5.5,2018,1,11,6,14,32